[submodule ".github/actions/cancel-workflow-runs"]
	path = .github/actions/cancel-workflow-runs
	url = https://github.com/potiuk/cancel-workflow-runs
[submodule ".github/actions/gitleaks-action"]
	path = .github/actions/gitleaks-action
	url = https://github.com/zricethezav/gitleaks-action
