.monaco-editor,
.monaco-editor .overflow-guard {
  border-radius: var(--mantine-radius-sm);
}

/* This is to fix the suggest widget offset problem */
.monaco-editor .suggest-widget {
  width: 200px !important;
  left: 60px !important;
}

.monaco-editor {
  padding-bottom: 200px;
}

.editor-wrapper {
  border: 1px solid var(--mantine-color-gray-4);
  border-radius: var(--mantine-radius-sm);
  position: relative;
  height: 100%;

  &:focus-within {
    border-color: var(--mantine-color-blue-6);
  }
}
