name: Backend E2E Test

on:
  push:
    branches:
      - master
      - next
    paths:
      - 'api/**'
  pull_request:
    branches:
      - master
      - next
    paths:
      - 'api/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/master' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:
  backend-e2e-test-v3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Modify config.yaml Configure for used by the APISIX Dashboard
        run: |
          sudo pip3 install yq
          yq -y '.data_source[0].apisix.address="http://172.16.238.20:9180/apisix/admin"' api/config/config.yaml | \
          yq -y '.security.allow_list[0]="0.0.0.0/0"' > api/config/config.yaml.tmp && mv api/config/config.yaml.tmp api/config/config.yaml
          cat api/config/config.yaml
      - name: Build docker images
        working-directory: ./api/test/docker
        run: |
          docker buildx bake --load -f docker-compose.yaml
      - name: Build grpc upstream
        working-directory: ./api/test/docker
        run: |
          wget https://github.com/api7/grpc_server_example/archive/refs/tags/20210819.tar.gz
          tar -xzvf 20210819.tar.gz && cd grpc_server_example-20210819
          docker build -t grpc_server_example:latest .
      - name: Start services
        working-directory: ./api/test/docker
        run: |
          docker-compose -f docker-compose-v3.yaml up -d
          sleep 5
          docker logs docker_managerapi_1
      - name: Install ginkgo cli
        run: go install github.com/onsi/ginkgo/ginkgo@v1.16.5

      - name: Run test
        working-directory: ./api/test/e2e
        run: ginkgo -r

      - name: Run debugger
        if: ${{ failure() }}
        timeout-minutes: 15
        uses: ./.github/actions/tmate-action

      - name: Stop docker compose
        working-directory: ./api/test/docker
        run: |
          docker-compose down
          sleep 10
      - name: Output test coverage
        working-directory: ./api/test/testdata
        run: |
          go tool cover -func=./integrationcover.out
      - name: Upload coverage profile
        working-directory: ./api/test/testdata
        run: |
          bash <(curl -s https://codecov.io/bash) -f ./integrationcover.out -F backend-e2e-test-ginkgo