name: Test and Deploy with Docker

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: Azure/docker-login@v1
        with:
          login-server: apisixacr.azurecr.cn
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t dashboard:ci .

      - name: Modify ETCD IP
        run: |
          sed -i 's/127.0.0.1:2379/172.16.238.10:2379/' api/conf/conf.yaml
          sed -i 's/host: 127.0.0.1/host: 0.0.0.0/' api/conf/conf.yaml

      - name: Run Docker Compose
        working-directory: ./api/test/docker-deploy
        run: |
          docker-compose up -d
          sleep 5
          docker logs docker-deploy_managerapi_1

      - name: Run Test
        run: api/test/shell/docker_deploy_test.sh

      - name: Deploy
        run: |
          docker tag dashboard:ci apisixacr.azurecr.cn/dashboard:${{ github.sha }}
          docker push apisixacr.azurecr.cn/dashboard:${{ github.sha }}
