name: Frontend e2e test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
defaults:
  run:
    working-directory: web

jobs:
  web-e2e:
    name: Frontend e2e test
    runs-on: ubuntu-latest

    services:
      etcd:
        image: bitnami/etcd:3.4.13
        ports:
          - 2379:2379
          - 2380:2380
        env:
          ALLOW_NONE_AUTHENTICATION: yes

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4
        with:
          node-version: 14.x

      - name: Setup golang environment
        uses: actions/setup-go@v2.1.3
        with:
          go-version: '1.13'

      - name: Start manager-api
        working-directory: ./api
        run: nohup go run . &

      - name: Install front-end dependencies
        run: yarn install

      - name: Start frontend then test
        run: yarn test:e2e
