name: go-lint
on:
  push:
    branches:
      - master
    paths:
      - 'api/**'
  pull_request:
    branches:
      - master
    paths:
      - 'api/**'

jobs:
  go-filter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodule: true

      - uses: ./.github/actions/paths-filter
        id: changes
        with:
          filters: |
            go:
              - '**.go'
          working-directory: 'api'
          list-files: shell
    outputs:
      matches: ${{ steps.changes.outputs.go }}
      files: ${{ steps.changes.outputs.go_files }}

  golangci:
    runs-on: ubuntu-latest
    needs: go-filter
    if: needs.go-filter.outputs.matches == 'true'
    steps:
      - uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          working-directory: api
          args: --tests=false
          only-new-issues: true

  gofmt:
    runs-on: ubuntu-latest
    needs: go-filter
    if: needs.go-filter.outputs.matches == 'true'
    steps:
      - uses: actions/checkout@v2
      - name: setup go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: '1.13'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: check gofmt
        run: |
          diffs=`gofmt -l ${{ needs.go-filter.outputs.files }}`
          if [[ -n $diffs ]]; then
              echo "Files are not formatted by gofmt:"
              echo $diffs
              exit 1
          fi
