name: Linter

on: [pull_request]

jobs:
  markdown-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2.1.4
        with:
          node-version: "12.x"
      - run: npm install -g markdownlint-cli@0.25.0
      - run: markdownlint '**/*.md' --ignore node_modules

  yaml-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install yamllint
      - name: YAML Lint
        run: |
          yamllint .

  go-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: run lint
        run: make go-lint
