# Test make build command to see if ManagerAPI and Web are ok to build

name: make build

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/master' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:
  make-build-test:
    name: make build test
    runs-on: ubuntu-latest

    services:
      etcd:
        image: bitnami/etcd:3.5.2
        ports:
          - 2379:2379
          - 2380:2380
        env:
          ALLOW_NONE_AUTHENTICATION: yes

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: 'yarn'
          cache-dependency-path: web/yarn.lock

      - name: Setup golang environment
        uses: actions/setup-go@v3
        with:
          go-version: '1.15'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: make build
        run: make build

      - name: start dashboard
        working-directory: ./output
        run: |
          ./manager-api > ./api.log 2>&1 &
          sleep 5

      - name: check
        run: api/test/shell/manager_smoking.sh -s true
