name: Test API

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - v2.0

jobs:
  run-test:
    runs-on: ubuntu-latest

    services:
      etcd:
        image: bitnami/etcd:3.4.13
        ports:
          - 2379:2379
          - 2380:2380
        env:
          ALLOW_NONE_AUTHENTICATION: yes

    steps:
      - uses: actions/checkout@v2

      - name: install runtime
        run: |
          sudo apt-get update
          sudo apt-get install lua5.1
          sudo add-apt-repository ppa:longsleep/golang-backports
          sudo apt update
          export GO111MOUDULE=on
          sudo apt install golang-1.14-go

      - name: run test
        working-directory: ./api
        run: go test ./...

      - name: run with custom port
        working-directory: ./api
        run: |
          sed -i 's/8080/\# 8088/' conf/conf.json
          go run main.go &

      - name: run with custom port
        working-directory: ./api
        run: |
          curl http://127.0.0.1:8088/apisix/admin/user/login -X POST -i -d '{"username":"admin", "password": "admin"}'
          code=$(curl -k -i -m 20 -o /dev/null -s -w %{http_code} http://127.0.0.1:8088/apisix/admin/user/login -X POST -i -d '{"username":"admin", "password": "admin"}')
          if [ ! $code -eq 200 ]; then
              echo "failed: failed to custom port"
              exit 1
          fi
