name: Test API

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-test:
    runs-on: ubuntu-latest

    services:
      etcd:
        image: bitnami/etcd:3.4.13
        ports:
          - 2379:2379
          - 2380:2380
        env:
          ALLOW_NONE_AUTHENTICATION: yes

    steps:
      - uses: actions/checkout@v2

      - name: run Makefile
        run: |
          make license-check

      - name: get lua lib
        run: |
          wget https://github.com/api7/dag-to-lua/archive/v1.1.tar.gz
          sudo mkdir -p /go/manager-api/dag-to-lua/
          tar -zxvf v1.1.tar.gz
          sudo mv ./dag-to-lua-1.1/lib/* /go/manager-api/dag-to-lua/

      - name: install runtime
        run: |
          sudo apt-get update
          sudo apt-get install lua5.1
          sudo add-apt-repository ppa:longsleep/golang-backports
          sudo apt update
          export GO111MOUDULE=on
          sudo apt install golang-1.14-go

      - name: run test
        working-directory: ./api
        run: |
          export APIX_ETCD_ENDPOINTS=127.0.0.1:2379
          go test ./...

      - name: run with custom port
        working-directory: ./api
        run: |
          export APIX_ETCD_ENDPOINTS=127.0.0.1:2379
          sed  -i 's/8080/\# 8088/'  conf/conf.json
          go run main.go &

      - name: run with custom port
        working-directory: ./api
        run: |
          code=$(curl -k -i -m 20 -o /dev/null -s -w %{http_code} http://127.0.0.1:8088/apisix/admin/user/login -X PUT -i -d '{"username":"admin", "password": "admin"}')
          if [ ! $code -eq 200 ]; then
              echo "failed: failed to custom port"
              exit 1
          fi
