name: Deploy with Docker

on:
  push:
    branches:
      - master
      - v2.0
  pull_request:
    branches:
      - master
      - v2.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run with Docker
        run: |
          docker build -t apisix-dashboard:dev .
          docker run -d -p 8081:8080 apisix-dashboard:dev
  test:
    # Check if running up
